.products--list {
  display: grid;
  border: 1px solid lightslategrey;
  grid-template-columns: 1fr 4fr 1fr 2fr;

  width: 100vw;

  @media (min-width: 768px) {
    width: 768px;
  }

  &--loading {
    grid-column: 1 / 5;
    width: calc(100vw - 2px);
    text-align: center;
    font-size: x-large;
    padding: 32px 0;

    @media (min-width: 768px) {
      width: 768px;
      padding: 64px 0;
    }
  }

  &--item {
    padding: 8px;
    border-bottom: 1px solid lightslategrey;

    img {
      max-width: 100px;
      height: auto;
    }
    &__heading {
      padding: 8px;
      border-bottom: 1px solid lightslategrey;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
